<a href="https://colab.research.google.com/github/kumarrajesh1992-arch/kumarrajesh1992-arch.github.io/blob/main/Chart2_State_HDI_Slider.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("PP434_Project_Data_1.csv")
df.columns

Index(['State', 'Year', 'SHDI', 'LGNIC'], dtype='object')

In [ ]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   1188 non-null   object
 1   Year    1188 non-null   int64
 2   SHDI    1188 non-null   float64
 3   LGNIC   1188 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 37.3+ KB

State    0
Year     0
SHDI     0
LGNIC    0
dtype: int64

In [ ]:
def hdi_category(x):
    if x >= 0.8:
        return "Very High"
    elif x >= 0.7:
        return "High"
    elif x >= 0.55:
        return "Medium"
    else:
        return "Low"

df["HDI_category"] = df["SHDI"].apply(hdi_category)

In [ ]:
df["LGNIC"].min(), df["LGNIC"].max()

(7.111, 9.643)

In [ ]:
df["Year"].min(), df["Year"].max()

(1990, 2022)

In [ ]:
df.to_csv("CC9_HDI_Bubble_final.csv", index=False)